In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies=pd.read_csv("/content/drive/MyDrive/ML data/Movie/movies.csv")
credits=pd.read_csv("/content/drive/MyDrive/ML data/Movie/credits.csv")

In [ ]:
movies.shape

In [ ]:
movies.head(1)

In [ ]:
credits.shape

In [ ]:
credits.head(1)

In [ ]:
database=movies
database.shape
database=database.merge(credits,left_on='id',right_on='movie_id')

In [ ]:
database.shape

In [ ]:
database.head(1)

In [ ]:
database.info()

In [ ]:
database=database[['id','title_x','genres','overview','keywords','cast','crew','runtime','original_language']]
#filtering data

In [ ]:
database.head(1)

In [ ]:
database.rename(columns={'title_x':'title','original_language':'language'},inplace=True)

In [ ]:
database.head(1)

In [ ]:
database.isnull().sum()

In [ ]:
database.dropna(inplace=True)

In [ ]:
database.isnull().sum()

In [ ]:
import json


def merge(stringjson):
    l=[]
  #res=json.loads(database.head(1)['genres'].values[0])
    res=json.loads(stringjson)
    for i in res:
      l.append(i["name"])
    #print(l)
    return l

In [ ]:
database['genres']=database['genres'].apply(merge)
database['keywords']=database['keywords'].apply(merge)

In [ ]:
database['language'].isnull().sum()

0

In [ ]:
database.head(5)

,id,title,genres,overview,keywords,cast,crew,runtime,language
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",162.0,en
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",169.0,en
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",148.0,en
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",165.0,en
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",132.0,en

In [ ]:
import json


def filtercast(stringjson):
    l=[]
    cnt=0
  #res=json.loads(database.head(1)['genres'].values[0])
    res=json.loads(stringjson)
    for i in res:
      l.append(i["name"])
      cnt+=1
      if(cnt==3):
        break
    return l

In [ ]:
database['cast']=database['cast'].apply(filtercast)

In [ ]:
import json


def filtercrew(stringjson):
    l=[]
    cnt=0
  #res=json.loads(database.head(1)['genres'].values[0])
    res=json.loads(stringjson)
    for i in res:
      if(i['job']=='Director') :
        l.append(i["name"])
        cnt+=1
      elif(i['job']=='Producer') :
        l.append(i["name"])
        cnt+=1
      elif(i['job']=='Writer') :
        l.append(i["name"])
        cnt+=1
      if(cnt==3):
                break
    return l

In [ ]:
database['crew']=database['crew'].apply(filtercrew)

In [ ]:
database['overview']=database['overview'].apply(lambda x:[i.replace(" ","") for i in x])
database['genres']=database['genres'].apply(lambda x:[i.replace(" ","") for i in x])
database['crew']=database['crew'].apply(lambda x:[i.replace(" ","") for i in x])
database['cast']=database['cast'].apply(lambda x:[i.replace(" ","") for i in x])
database['keywords']=database['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
import math

database['runtime']=database['runtime'].apply(lambda x:[str(math.ceil(x/30))])

In [ ]:
database['language']=database['language'].apply(lambda x: [x])

In [ ]:
database['tags']=database['genres']+database['overview']+database['keywords']+database['cast']+database['crew']+database['runtime']+database['language']

In [ ]:
database.head(2)

,id,title,genres,overview,keywords,cast,crew,runtime,language,temp,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[JamesCameron, JamesCameron, JamesCameron]",[6],[en],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[GoreVerbinski, JerryBruckheimer, EricMcLeod]",[6],[en],"[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action, Captain, Barbossa..."

In [ ]:
model_data=database[["id","title","tags"]]

In [ ]:
def modlify(l):
  s=""
  for i in range(len(l)-1):
    s+=l[i].lower()+" "
  s+=l[len(l)-1].lower()
  return s

model_data['tags']=model_data['tags'].apply(modlify)

In [ ]:
model_data.head(2)

In [ ]:
!pip install nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.6)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)

In [ ]:
model_data['tags']=model_data['tags'].apply(stem)

<ipython-input-20-d517b83ae2fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_data['tags']=model_data['tags'].apply(stem)

In [ ]:
!pip install scikit-learn
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [ ]:
vectors=cv.fit_transform(model_data['tags']).toarray()

In [ ]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
for i in cv.get_feature_names_out():
  print(i,end=" ")

In [ ]:
stem("louvre loved loving")

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [ ]:
def recommend(movie):
  if(len(model_data[model_data['title']==movie])):
    movie_index=model_data[model_data['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
      print(model_data.iloc[i[0]].title)
  else:
    print("Movie Unavailable in the Database")

In [ ]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
recommend('Joker')

In [ ]:
#!pip install pickle
import pickle
pickle.dump(model_data,open('movies.pkl','wb'))